body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-image: url("../images/background-3512653_1920.jpg");
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    padding: 1%;
  }

.container {
    min-height: 100%;
}

.wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 5%;
    background-color: whitesmoke;
    text-align: center;
    color: black;
}

.btn-info {
    margin: 6px;
}

h2 {
    font-weight: bold; 
}
